body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.fineartamerica.com/images-medium-large-5/fresh-aromatic-herbs-mythja-design.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    width:auto;
    position: relative;
}
h1{
    color:aliceblue;
    text-align: center;
    font-size: 50px;
}

.home {
    font-size: 10px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    width: 90%;
    color: rgb(148, 235, 130);
    word-spacing: 50px;
    font-style: italic;
}
.navigation {
    flex:1;
    text-align: right;
}

#menu-bar{
    display: none;
}

header label {
    margin-left: 25%;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: none;
}

.submit-btn {
    float: right;
    margin-right: 15px;
}

.navigation ul li {
    padding: 15px;
    list-style: none;
    display: inline-block;
}

.navigation ul li a {
    color:#fff;
    font-size: 18px;
    font-weight: 500;
   /* margin-left: 25px;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.3s;
}

.navigation ul li a:hover {
    color: #1f2833;
    font-size: 140%;
}

.navigation .current {
    color: #66fcf1;
    font-size: 140%;
}

table {
    text-align: center;
    padding: 20px;
    margin-left: 15%;
}

td {
    padding: 25px;
    border: 3px #1f2833;
    font-size: 1em;
    font-size: 40px;
    color: aliceblue;
    font-weight: 700;
    word-spacing: 50px;
}

th {
    font-size: 25px;
    color: yellowgreen;
}

table, th, td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}
