* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://media.istockphoto.com/photos/composition-of-natural-alternative-medicine-with-capsules-essence-and-picture-id1192284372?k=20&m=1192284372&s=612x612&w=0&h=Cf2AWQn3p6_r_XBjeF35emPbOtOWtz_zhxiR-kLunZU=);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    width:auto;
    position: relative;
}

.home {
    font-size: 70px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 150px;
    margin-left: 100px;
    margin-right: 150px;
    width: 90%;
    color: #fff;
}
.Indigenous{
    color:rgb(234, 243, 113);
    font-size: 90px;
}

.navbar {
    text-align: right;
    list-style: none;
}

.navigation ul li a {
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.3s;
    float: right;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin-top: 0%;
}

.product {
    border: 4px;
    color: rgb(255, 255, 255);
    margin-left: 15%;
}

table {
    text-align: center;
}

td {
    border: 3px #1f2833;
    font-size: 1em;
}

th {
    font-size: 25px;
    color: rgb(255, 255, 154);
}

table, th, td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}

.button {
    margin: 15px;
    display: inline-block;
    color: #fff; 
    position:relative;
    text-decoration: none;
    border: 1px solid transparent;
    background-color:#1f2833;
    border-radius: 0.75rem;
    font-size: 1.3rem;
    font-weight: 600;
    padding: .7rem 1rem;
    text-align: center;
    line-height: 1.5rem;
    opacity: 0.85;
    box-sizing: border-box;
    width: auto;
    transition-duration: 1s;
    transition-property: background-color,border-color,color,fill,stroke;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.landing{
    color:white;

}
button{
    border-width: 90px;
    border-radius: 30px;
    background-color: azure;
}

nav {
    display:flex;
    margin: auto;
    padding: 30px 80px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navigation {
    flex:1;
    text-align: right;
}

#menu-bar{
    display: none;
}

header label {
    margin-left: 25%;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: none;
}

.submit-btn {
    float: right;
    margin-right: 15px;
}

.navigation ul li {
    padding: 15px;
    list-style: none;
    display: inline-block;
}

.navigation ul li a {
    color:#fff;
    font-size: 18px;
    font-weight: 500;
   /* margin-left: 25px;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.3s;
}

.navigation ul li a:hover {
    color: #1f2833;
    font-size: 140%;
}

.navigation .current {
    color: #66fcf1;
    font-size: 140%;
}

.click-btn {
    text-align: center;
}